# Default ignored files

### MAVEN ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Reports reports/ ###

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
*.iws
*.iml
*.ipr

### MAC OS ###
.DS_Store
